/* Bottem Nav */
.bottomNav {
  background-color: #54565b;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.BNMaxW {
  width: 1200px;
  margin: 0px auto 0px auto;
  padding: 40px 30px;
}

.BNMaxW h5 {
  color: #7c7f81;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 20px 0px;
}

.BNMaxW a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.bnlist {
  padding: 10px 0px;
}

.BNMaxW ul {
  list-style-type: none;
}
